{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-6 col-12">
        {% for page, url in col_one.items() %}
        <div class="card text-center my-5 mx-2 border-dark">
            <img src={{url}} class="card-img-top" alt={{page}}>
            <div class="card-body">
              <a href={{ url_for('basic', section='commissions', page=page) }} class="btn btn-dark">{{page}}</a>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="col-lg-6 col-12">
        {% for page, url in col_two.items() %}
        <div class="card text-center my-5 mx-2 border-dark">
            <img src={{url}} class="card-img-top" alt={{page}}>
            <div class="card-body">
                <a href={{ url_for('basic', section='commissions', page=page) }} class="btn btn-dark">{{page}}</a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
