
<div class="row mx-1 mx-md-0">
    <div class="col">
        <form method='POST'>
            <p>{{ template_form.hidden_tag() }}</p>
            <p>{{ template_form.name.label }}</p>
            <p>{{ template_form.name() }}</p>
            {% for message in template_form.name.errors %}
            <small class="form-text text-danger">{{ message }}</small>
            {% endfor %}
            <p>{{ template_form.email.label }}</p>
            <p>{{ template_form.email() }}</p>
            {% for message in template_form.email.errors %}
            <small class="form-text text-danger">{{ message }}</small>
            {% endfor %}
            <p>{{ template_form.request.label }}</p>
            <p>{{ template_form.request() }}</p>
            {% for message in template_form.request.errors %}
            <small class="form-text text-danger">{{ message }}</small>
            {% endfor %}
            <p>{{ template_form.submit() }}</p>
        </form>
    </div>
</div>
<div class="row mx-1 mx-md-0">
    <div class="col">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
            {{message}}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>  